@use "variables" as vars;

@mixin color {
  color: black;
  font-size: 2rem;
}

@mixin bgColor($color) {
  background-color: $color;
}

@mixin phone {
  @media (min-width: vars.$phone) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: vars.$tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: vars.$desktop) {
    @content;
  }
}

@mixin grid($columns, $spacing) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  gap: $spacing;
}

@mixin flex-grid($columns, $spacing, $justify-content: space-between) {
  display: flex;
  flex-wrap: wrap;
  justify-content: $justify-content;

  > * {
    flex: 0 0 calc((100% / #{$columns}) - #{$spacing});
    margin: calc($spacing / 2);
  }
}
