// Fuentes
$main_font: "DM Sans", sans-serif;

// Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$primary: #395B64;
$secondary: #A5C9CA;
$tertiary: #E7F6F2;
$black: #191825;
$darkGrey: #2a2930;
$white: #eeeeee;
$grey: #b2b2b2;

// Unidades
$separation: 5rem;
