// Fuentes
$main_font: "DM Sans", sans-serif;

// Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$primary: #395b64;
$secondary: #a5c9ca;
$tertiary: #e7f6f2;
$black: #191825;
$darkGrey: #2a2930;
$white: #eeeeee;
$grey: #b2b2b2;

// Unidades
$separation: 5rem;
