@use "../base/variables" as vars;
@use "../base/mixins";

.main-container {
  .form-container {
    .form-header {
      margin-bottom: 5rem;
      @include mixins.tablet {
        @include mixins.flex-grid(2, 0);
      }
    }
  }
}

.main-container {
  .form-container {
    width: 40%;
    margin-left: 0;
    border-radius: 20px;
    padding: 3rem;
    background-color: white;

    .field {
      margin-bottom: 1.5rem;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    .form-section-title {
      font-weight: bold;
    }

    input:not([type="submit"]), select {
      width: 100%;
      padding: 1rem;
      border: none;
      background-color: vars.$white;
      border-radius: 10px;
    }

    input[type="submit"] {
      background-color: vars.$black;
      width: 100%;
      border: none;
      padding: 1rem;
      color: vars.$white;
      text-transform: uppercase;
      border-radius: 20px;
      box-shadow: 1px 2px 4px rgba(0, 0, 0.2, 0.5);
      &:hover {
        cursor: pointer;
      }
    }
  }
}
