@use "../base/mixins";
@use "../base/variables" as vars;

.main-nav {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;

  @include mixins.tablet {
    flex-direction: row;
    gap: 2rem;
    margin-top: 0;
  }

  a {
    text-align: center;
    color: vars.$white;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 1rem;

    @include mixins.tablet {
      margin-bottom: 0;
    }

    &:hover {
      color: vars.$secondary;
    }

    &.active {
      color: vars.$secondary;
    }
  }
}
