@use "../base/mixins";
@use "../base/variables" as vars;

.footer {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;

  .footer-content {
    padding: 1rem;

    @include mixins.tablet {
      @include mixins.grid(3, 2rem);
    }
  }

  .copyright {
    text-align: left;
    p {
      color: vars.$white;
      font-size: 1.3rem;
      font-weight: 400;
    }
  }

  .terms {
    text-align: right;
    p,
    a {
      color: vars.$white;
      font-size: 1.3rem;
      font-weight: 400;
    }
  }
}

.social-media {
  a {
    img {
      fill: vars.$white;
    }
  }

  @include mixins.tablet {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
}
