@use "../base/variables" as vars;
@use "../base/mixins";

$cancelled: #ffcdd2;
$cancelled-font: #c62828;
$completed: #c8e6c9;
$completed-font: #388e3c;
$pending: #fff0c2;
$pending-font: #a68b00;

body.report {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0.6) 100%
    ),
    url("../../../build/assets/images/home-bg-2.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.main-container {
  .table-container {
    // width: 70%;
    // margin-right: 0;
    // border-radius: 20px;
    // padding: 3rem;
    // background-color: white;

    .report-header {
      margin-top: 5rem;

      h2 {
        color: vars.$white;
      }

      @include mixins.tablet {
        @include mixins.flex-grid(2, 0);
      }
    }
  }
}

.report-header {
  margin-bottom: 5rem;
  @include mixins.tablet {
    @include mixins.flex-grid(2, 0);
  }

  .report-header-buttons {
    display: flex;
    gap: 2rem;
    justify-content: center;

    .delete-button {
      background-color: #d24848;
      color: white;
    }
  }
}

table {
  border-collapse: collapse;
  margin-top: 3rem;
  box-shadow: 0 5px 10px black;
  background-color: white;
  text-align: left;
  overflow: hidden;
  border-radius: 10px;
  color: #4f546c;

  thead {
    // background-color: rgb(240, 240, 240);
    box-shadow: 0 5px 10px rgb(180, 180, 180);
  }

  th {
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    // font-size: 0.7rem;
    font-weight: 700;
  }

  td {
    padding: 1rem 2rem;

    &.plate {
      font-weight: bold;
    }
  }


  tr:nth-child(even) {
    background-color: #f4f6fb;
  }
}

.status {
  border-radius: 5px;
  padding: 0.7rem 1rem;
  text-align: center;

  &-pending {
    background-color: $pending;
    color: $pending-font;
  }
  &-cancelled {
    background-color: $cancelled;
    color: $cancelled-font;
  }
  &-completed {
    background-color: $completed;
    color: $completed-font;
  }
}

