@use "../base/variables" as vars;
@use "../base/mixins";

body.report {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0.6) 100%
    ),
    url("../../../build/assets/images/home-bg-2.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.main-container {
  .table-container {
    // width: 70%;
    margin-right: 0;
    border-radius: 20px;
    padding: 3rem;
    background-color: white;

    .report-header {
      margin-bottom: 5rem;
      @include mixins.tablet {
        @include mixins.flex-grid(2, 0);
      }
    }
  }
}

.report-header {
  margin-bottom: 5rem;
  @include mixins.tablet {
    @include mixins.flex-grid(2, 0);
  }

  .report-header-buttons {
    display: flex;
    gap: 2rem;
    justify-content: center;

    .delete-button {
      background-color: #D24848;
      color: white;
    }
  }
}